@page "/quiz"
@inherits QuizBase

<PageTitle>Quiz</PageTitle>

<div class=container>
    <div class=quiz>
        <div class="title">
            Quiz Title
        </div>
        <div class="question">
            <h2>@Questions[0].Content</h2>
        </div>
        <div class="answers">
            <ul>
            @foreach (var answer in Questions[0].Answers)
            {
                <li>@answer</li>
            }
            </ul>
        </div>
    </div>
</div>
